<p>
	<%= @subject %>
</p>
<p class="button">
  <%= link_to(@highligted_object_link_text, @highligted_object_link) %>
</p>
<p>
	<%= if [1,2].includes? @notification_kind %>
		<%= @highligted_object.post.user %>
		<%= @highligted_object.post.created_at %>
		<%= @highligted_object.post.user.avatar %>
		<%= @highligted_object.post.content %>
	<%= elsif [3,4,6].includes? @notification_kind %>
		<%= @highligted_object.user %>
		<%= @highligted_object.created_at %>
		<%= @highligted_object.user.avatar %>
		<%= @highligted_object.content %>
	<%= elsif [5].includes? @notification_kind %>
		<%= @highligted_object.name %>
		<%= @highligted_object.avatar %>
		<%= @highligted_object.bio %>
	<%= elsif [7].includes? @notification_kind %>
		<%= @highligted_object.media_reaction.user %>
		<%= @highligted_object.media_reaction.media.title %>
		<%= @highligted_object.media_reaction.media.synopsis %>
	<%= end %>
</p>

<p>
	Have a question, compliment, criticism or funny joke? Go ahead and reply to this email or contact us at hello@kitsu.io
</p>
